<div class="container full-back">
<br>
<br>
    <h1 class="win-anounce f450"><%=Player.find(@game.winner).nome%></h1> 
    <h1 class="win-anounce f450">ganhou o jogo</h1>
    <br>
    <br>
    <div class="centered"><a class="btn btn-sc w30 pd10" href="/">Começar um novo jogo</a></div>
</div>